.logo {
    display: flex;
    flex-direction: column;
  }
  .logo__image {
    width: 254px;
    height: 69px;
    margin: 0 auto;
    padding-top: 34px
  }
 
  @media screen and (min-width: 320px) and (max-width: 584px) {
    .logo__image {
        width: 188px;
        height: 52px;
        left: 111px;
        gap: 0px;
    }
    .logo__name-gallery {
      width: 187px;
      height: 11px;
    }
  }